.menu {
  /* adicione o código correto para colocar o menu corretamente.*/
  display: flex;
  justify-content:space-between;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  /* adicione o código correto para colocar os elementos da grade
  um ao lado do outro igualmente.   */
  
  display: flex;
  flex-wrap:wrap;
  font-family: sans-serif;
}

.grid img {
  border: 4px solid rgb(193, 125, 200);
  border-radius: 50px;
}
.languages {
  border-radius: 20px;
  background-color: rgba(208, 232, 208, 0.777);
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
